body {
    background-color: lightseagreen !important;
}

.active {
    visibility: hidden;
}

.whoisit {
    background-color: blueviolet !important;
    color: white !important;
}

.btn:hover {
    border: 1px solid white !important;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none !important;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}